# ===============================
# TELEGRAM
# ===============================
BOT_TOKEN=8162318030:AAEKPJP1uMXm-BXHjNOqPoC2Qhw5XpGJSno

# ===============================
# DATABASE (PostgreSQL)
# ===============================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=anonylink
POSTGRES_USER=anonylink
POSTGRES_PASSWORD=Sree96321

# ===============================
# REDIS
# ===============================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# ===============================
# TRIALS
# ===============================
FREE_TRIAL_COUNT=5

# ===============================
# DEBUG
# ===============================
DEBUG=false
